:root{

    --primary: #3e2723 ;
    --secondary: #a1887f ;
    --bg-primary: rgba(62, 39, 35, 0.03);
    --border-btn: rgba(62, 39, 35, 0.3);
    --input-group-color: rgba(62, 39, 35, 0.6);
    --input-error:#dd2c00;
    --input-success:#2e7d32;
}

:root{
    --space-r-l-section-lg: 0 8rem;
    --space-r-l-section-md: 0 4rem;
    --space-r-l-section-sm: 0 1.5rem; 


    --shadow-border-header: 3px 3px 5px 6px rgba(62, 39, 35, 0.1);
    --bg-primary: rgba(62, 39, 35, 0.03);
}

